body {
    background-color: #888;
}

#chessboard{
    float: left;
    width: 1024px;
    height: 1024px;
    left:10px;
    top:10px;
    margin: 20px;
    border: 5px solid #333;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

#sidebar{
    padding: 20px;
    float:left;
}

.black.red {
    background-color: #e33;
}

.white.red{
    background-color: #e88;
}

.black.green{
    background-color: #181;
}

.white.green {
    background-color: #1e1;
}

.black.blue{
    background-color: #33e;
}

.white.blue {
    background-color: #88e;
}

.black.blue.green{
    background-color: #3ee;
}

.white.blue.green{
    background-color: #8ee;
}

.black {
    background-color: black;
}

.white {
    background-color: #eee;
}


.cell {
    float: left;
    height: 64px;
    width: 64px;
    display: table-cell
}
