body {
    background-color: #888;
}

#chessboard{
    float: left;
    width: 1024px;
    height: 1024px;
    left:10px;
    top:10px;
    margin: 20px;
    border: 5px solid #333;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

#turn{
   margin: 20px;
   float: left;
   font-size: 40px;
}

.black {
    background-color: black;
}

.white {
    background-color: eee;
}

.cell {
    float: left;
    height: 64px;
    width: 64px;
    display: table-cell
}
